body {
	width: 640px; 
	text-align: justify;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#title {
	text-align: center;
	border-bottom-style: double;
	margin-bottom: 35pt;
}

#contents {
	border: 1pt solid #888;
	padding: 25pt;
	width: 50%;
}

ol {
	/*list-style-type: cjk-ideographic;*/
	/*list-style-type: decimal-leading-zero;*/
	list-style-type: decimal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebucket MS", Helvetica, sans-serif;
	text-transform: uppercase;
}

a:link { 
	color: red; /* is also #f00 or #ff0000 */
	text-decoration: none;
}

a:visited { 
	color: blue; /* is also #00f or #0000ff */
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
}

p#first1:first-line {
	font-variant: small-caps;
}

p#first1:first-letter {
	font-size: 5em;
	float: left;
	padding-right: 2pt;
}

blockquote q {
	font-style: italic;
}

table {
	border-width: 1px;
	border-collapse: collapse;
}

td, th {
	border: 1px solid #888;
	padding-left: 7pt;
	padding-right: 7pt;
	white-space: nowrap;
}

th {
	background: #aaa;
}

.figure {
	width: 100%;
	height:  250pt;
}

.figure img {
	float:right;
	position: relative;
	top: 20%;
}

.figure table {
	float: left;
}